$paddingButton : 15px;
$borderRadius : 10px;
$mainTextColour : black;
$whiteBackground: white;
$websiteBackground: cornflowerblue;
$boldFont : bold;

body{
    font-family: Georgia;
    background-color: $websiteBackground;
}

nav{
    ul li a{
        color: $mainTextColour;
        text-decoration: none;

    }
    ul li{
        list-style-type: none;
        display: inline;
        padding: $paddingButton;
        margin: 5px;
        border-radius: $borderRadius;
    }

}

.active {
    color :$mainTextColour;
    font-weight: $boldFont;
}

.btn-outline-success{
    border-color: $websiteBackground;
    color: $websiteBackground;
    /*change hover background colour and hover border colour*/
}

.btn-primary{
    border-color: $whiteBackground;
    background-color: $websiteBackground;
    color: $mainTextColour;
    margin-top: 10px;
    margin-bottom: 10px;
}

.internalLink{
    text-decoration: none;
    color: $mainTextColour;
    font-weight: $boldFont;
    margin-bottom: 200px;
    text-align: left;
    background-color: lightskyblue;
    padding: $paddingButton;
    border-radius: $borderRadius;
}

.form{
    border: solid darkorange;
    background-color: $whiteBackground;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

}

.basket{
    border: solid darkorange;
    background-color: $whiteBackground;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 400px;
    max-width: 400px;
    padding-left: 20px;
    padding-top: 5px;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: lightgray;
    color: $mainTextColour ;
}

header{
    background-image: url(../images/Ben2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    color: $mainTextColour;
    text-align: left;
    padding-top: 2px;
}
