<footer>
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">(c) 2025</p>
    
    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use></svg> </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href='/' class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="contact" class="nav-link px-2 text-body-secondary">Contact Us</a></li> 
            <li class="nav-item"><a href="about" class="nav-link px-2 text-body-secondary">About Us</a></li> 
            <li class="nav-item"><a href="shop" class="nav-link px-2 text-body-secondary">Shop</a></li> 
            <li class="nav-item"><a href="login" class="nav-link px-2 text-body-secondary">Login</a></li> 
            <li class="nav-item"><a href="register" class="nav-link px-2 text-body-secondary">Register</a></li> 
            <li class="nav-item"><a href="checkout" class="nav-link px-2 text-body-secondary">Checkout</a></li> 
        </ul>
        </div>
        <p>Image Attribution</p>
    <p>Logo and FavIcon: <a href="https://commons.wikimedia.org/wiki/File:Logo_Susy_Utzinger_Stiftung_f%C3%BCr_Tierschutz.jpg">Pat Keller</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, via Wikimedia Commons,</p>
    <p>Header Image (cropped): <a href="https://commons.wikimedia.org/wiki/File:Benbulben_love.jpg">Subhrambar</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons</p>
</footer>

    