<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h2>Recent Updates</h2>
          </div>
        </div>
      </div>

    <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/logo.png" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Our Shop</h5>
          <p class="card-text">The Animal Rescue Sligo Shop is now officially open! The profit generated from our shop will be used solely for the benefit of the animals in our care. We have a range of products we think your furry friend would love! We hope to expand our shop within the coming months, so make sure you check out our Shop page frequently so you don't miss out.</p>
          <a href="shop" class="btn btn-primary">Click here to see our shop!</a>
          </div>
        </div>
      </div>
   

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/kittensHome.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Kittens Found in Shed</h5>
          <p class="card-text">Last month we rescued a litter of kittens from a shed just outside Sligo Town. Although nervous at first, they have warmed up to the volunteers and enjoy playing and cuddling. They are responding well to flea and worm treatment and will be available for adoption within the coming weeks!</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogParkHome.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Annual Dog Park Meetup Fundraiser</h5>
          <p class="card-text"><p>We will be having our Annual Dog Park Meetup Fundraiser in late February next year. We are currently looking for volunteers to help with setting up the meetup and activities. Please feel free to get in contact. Make sure you check our website regularly for any updates about the fundraiser and how you and your furry friend can get involved!</p>
          
          </div>
        </div>
      </div> 
    </div>
  </div>

<div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p class="projectMessage">This is a college project</p>
        </div>
    </div>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="script.min.js"></script>
  </body>
</html>