<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<main>
    <h2>Login</h2>
    <div class="form">    
        <div class="col-sm col-md-4"> 
            <form name="login" id="user-login">
                <div id="disappear">
                <div class="form-group">
                    <label for="loginEmail">Email address</label>
                    <input type="email" class="form-control" id="loginEmail" name="email" value="wmitty@email.com" required>
                </div>
                <div >
                    <label for="loginPasswordID">Password</label> 
                    <input type="password" class="form-control" id="loginPasswordID" name="password" value="password" required>
                </div>   </div> 
                <div id="logInOrOut">
                    <input type='submit' class="btn btn-primary" id="loginBtn" value="Login">
                    <input type='submit' class="btn btn-primary" id="logoutBtn" value="Logout">
                    <div id="loginMessage"></div> 
                </div>
               
            </form>
            <div id="disappear2">
                <p><a href="forgotPassword">Forgot your password?</a></p>
                <p> <a  href="register">Don't have an account? Click here to Register</a></p>
            </div>

        </div> 
    </div>   
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="script.min.js"></script> 
    <script src="loginScript.min.js"></script>
</body>
</html>