<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<main>
    <h2>Register</h2>
    <div class="form">    
        <div class="col-sm col-md-4">    
            <form action="registerSubmission" name="registrationForm" method="GET">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value="wmitty@email.com" required>
                </div>
                <div >
                    <label for="passwordID">Password</label> 
                    <input type="password" class="form-control" id="password" name="password" value="password" required>
                </div> 
                <div >
                    <label for="reenterPasswordID">Re-Enter Password</label> 
                    <input type="reenterPassword" class="form-control" id="reenterPassword" name="reenterPassword" value="password" required>
                </div>   
                <div>
                    <input type='submit' class="btn btn-primary" id="register" value="Register">
                <div id="registerMessage"></div>
                </div>
            </form>
        </div> 
    </div>   
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> 
    <script src="script.min.js"></script>
    <script src="loginScript.min.js"></script>
    <script src="registerScript.min.js"></script>
</body>
</html>