<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <main>
      <div class="form">
        <div class="row justify-content-center">
          <div class="col-4">
            <h1>Thank you!</h1>
            <p>You are now registered with Animal Rescue Sligo</p>
            <p>Confirmation will be sent to {{formDetails.email}}</p>
            <p><a class="btn btn-primary" href="userDetails">Click here to enter your delivery details!</a></p>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="script.js"></script>
  </body>
</html>