<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h2>Shop</h2>
          </div>
        </div>
      </div>

    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h3>Trending</h3>
          </div>
        </div>
      </div>

      <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card" id="leadClass">  
        <img src="images/dogLead.jpg" class="card-img-top" alt="blue dog lead">

       
       <div class="card-body" id="product1"></div>
          <button id="dogLeadBtn" class="btn btn-primary">Add to cart</button>
          </div>
        </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogBowl.jpg" class="card-img-top" alt="silver dog food bowl">
          <div class="card-body" id="product2"></div>
          <button id="dogBowlBtn" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/scratchingPost.jpg" class="card-img-top" alt="cat scratching post in the shape of a flower">
          <div class="card-body" id="product3"></div>
          <button id="scratchingPostBtn" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>
      </div>
      </div>

    
    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h3>Our Products</h3>
          </div>
        </div>
      </div>

      
      <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/toyMouse.png" class="card-img-top" alt="Wind up toy mouse for cat to chase">
          <div class="card-body" id="product4"></div>
          <button id="catToyBtn" class="btn btn-primary">Add to cart</button>
         
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/catBowl.jpg" class="card-img-top" alt="White and black ceramic food bowl in the shape of a cat's face">
          <div class="card-body" id="product5"></div>
          <button id="catBowlBtn" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogToy.png" class="card-img-top" alt="Rope dog toy">
          <div class="card-body" id="product6"></div>
          <button id="dogToyBtn" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>
      </div>
      </div>

      
      <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogLead.jpg" class="card-img-top" alt="blue dog lead">
          <div class="card-body" id="product7"></div>
          <button id="dogLeadBtn2" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogBowl.jpg" class="card-img-top" alt="silver dog food bowl">
          <div class="card-body" id="product8"></div>
          <button id="dogBowlBtn2" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/scratchingPost.jpg" class="card-img-top" alt="cat scratching post in the shape of a flower">
          <div class="card-body" id="product9"></div>
          <button id="scratchingPostBtn2" class="btn btn-primary">Add to cart</button>
          
        </div>
      </div>
      </div>
      </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="script.js"></script>
<script src="shopScript.js"></script>
  </body>
</html>