<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<main>

    <h2>User Details</h2>
    <div>    
        <div class="col-sm col-md-4">    
            
            <form>
                
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
                <div>
                    <label for="address1">Address Line 1</label>
                    <input type="text" class="form-control" id="address1" name="address1"  required>
                </div>
                <div>
                    <label for="address2">Address Line 2</label>
                    <input type="text" class="form-control" id="address2" name="address2"  required>
                </div>
                <div>
                    <label for="address3">Address Line 3</label>
                    <input type="text" class="form-control" id="address3" name="address3"  required>
                </div>
                
                <div>
                    <button class="btn btn-primary" id="jsonBtn">Add Details</button>
                </div>
            </form>
                
           

        </div> 
    </div>   
    


</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="script.js"></script>
    

    <script>
        
        const json = localStorage.getItem('form');
        const obj = JSON.parse(json); 


        function displaySavedDetails(){
            const firstName = document.getElementById('firstName');
            const lastName = document.getElementById('lastName');
            const address1 = document.getElementById('address1');
            const address2 = document.getElementById('address2');
            const address3 = document.getElementById('address3');

            firstName.value = obj.firstName;
            lastName.value = obj.lastName;
            address1.value = obj.address1;
            address2.value = obj.address2;
            address3.value = obj.address3;
        }

        
        const details = localStorage.getItem("userDetails.JSON");
        
        

        //const json = localStorage.getItem('form');
        //const obj = JSON.parse(json); 

        const submitButton = document.getElementById('jsonBtn');
        submitButton.addEventListener('click', addDetailsToJSON);

        (function JSONForDisplay(){
            var data = {
                "firstName":firstName.value,
                "lastName":lastName.value,
                "address1":address1.value,
                "address2":address2.value,
                "address3":address3.value
            }
            displaySavedDetails(); 
            const json2 = JSON.stringify(data);
            console.log(json);
            event.preventDefault();
            localStorage.setItem('form', json2);

        })();

        function addDetailsToJSON(){
            var data = {
                "firstName":firstName.value,
                "lastName":lastName.value,
                "address1":address1.value,
                "address2":address2.value,
                "address3":address3.value
            }
            const json3 = JSON.stringify(data);
            console.log(json3);
            event.preventDefault();
            localStorage.setItem('form', json3);
            window.location.reload();
        }

        

    </script>
    
</body>
</html>